# Git
.git/
.gitignore

# Go Build artifacts
backend/monitor_server.exe
backend/monitor_server

# IDE configurations
.vscode/
.idea/

# Node (nếu sau này có dùng)
node_modules/
npm-debug.log

# Temporary
scratch/
